<section id="intro-rewards">
    <a name="rewards" />&nbsp;</a>
  <div class="container bg-phone">
    <div class="row ">
      <div class="col-md-10 col-md-offset-1">

        <h2 class="text-center">Initial Content Rewards</h2>
        <h4 class="text-center vpc" ><b>-  July 4th -</b></h4>

        <hr class="steemer">

        <p class="text-center ">
          <strong>Help kickstart Steem by contributing content early!</strong>
          <br> STEEM is tabulating best posts and votes from launch through July 4th to do its first and largest payout of Steem and Steem Dollars. Rewards totalling 10% of the value of Steem will be allocated to the top content and curators.
          <br/>
          <br/> Get started at <a target="_blank" href="https://www.steemit.com/">steemit.com</a>.
          <br/>
          <br/>
          <a target="_blank" href="https://www.steemit.com/" class="btn btn-primary">Sign Up!</a>
        </p>

      </div>

    </div>
  </div>

</section>
